{% extends "template_base.html" %}
{% block content %}
    {% for article in articles %}
        <div class="article-card-container">
            <div class="article-card">
                <div class="article-card-link">
                    {% if article.type == "article-series" %}
                        <a href="{{ article.link.as_posix() }}">{{ article.title }} / Part {{ article.number }} &ndash; {{ article.article_name }}</a>
                    {% else %}
                        <a href="{{ article.link.as_posix() }}">{{ article.title }}</a>
                    {% endif %}
                </div>
                <div class="article-card-info">
                    {{ article.date.strftime("%b %d, %Y") }}
                </div>
                <div class="article-card-preview">
                    {{ article.preview }}...
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="article-card-end"></div>
{% endblock %}