{% extends "template_base.html" %}
{% block content %}
    {% for article in articles %}
        <div class="article-card-container">
            <div class="article-card">
                <div class="article-card-link">
                    <a href="{{ article.path() }}">{{ article.title() }}</a>
                </div>
                <div class="article-card-info">
                    {{ article.date().format("%b %d, %Y") }}
                </div>
                <div class="article-card-preview">
                    {{ article.preview() }}...
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="article-card-end"></div>
{% endblock %}